# Qdrant
QDRANT_URL=http://localhost:6333

# Backend
METADATA_CSV_PATH=../talks.csv
TRANSCRIPTS_DIR=../transcripts
EMBEDDING_MODEL=google/EmbeddingGemma-300M

# Frontend
VITE_API_URL=http://localhost:8000
